src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
    <http:listener-config name="httpListenerConfig" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration" />
    <apikit:config name="apiConfig" raml="api.raml" consoleEnabled="false" doc:name="Router" />
    <context:property-placeholder location="${env}.properties" />
    <mongo:config-connection-string name="Mongo_DB__Connection_String" connectionString="mongodb+srv://admin:admin@cluster0-f77wh.mongodb.net/mydb" doc:name="Mongo DB: Connection String" />
    <flow name="api-main">
        <http:listener config-ref="httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="apiConfig" doc:name="APIkit Router" />
        <exception-strategy ref="apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="apiConfig" doc:name="APIkit Console" />
    </flow>
    <flow name="get:/employee:apiConfig">
        <set-payload value="{&quot;success&quot;:true}" mimeType="application/json" doc:name="Set Payload"/>
      <!--   <mongo:no-operation-selected config-ref="Mongo_DB__Connection_String" doc:name="Mongo DB"/> -->

    </flow>
    <flow name="get:/getAllEmployees:apiConfig">
        <!-- <mongo:count-documents config-ref="Mongo_DB__Connection_String" collection="employee" doc:name="Mongo DB"/> -->
        <logger message="#[payload]" level="INFO" doc:name="Logger" />
        <mongo:list-collections config-ref="Mongo_DB__Connection_String" doc:name="Mongo DB" />
    </flow>
    <flow name="post:/employee/save:application/json:apiConfig">
        <mongo:insert-document config-ref="Mongo_DB__Connection_String" collection="employee" doc:name="Mongo DB" />
    </flow>
    <flow name="post:/employee/delete:application/json:apiConfig">
        <mongo:remove-documents config-ref="Mongo_DB__Connection_String" collection="employee" doc:name="Mongo DB"/>

    </flow>
    <flow name="post:/employee/update:application/json:apiConfig">
        <mongo:update-documents config-ref="Mongo_DB__Connection_String" collection="employee" query-ref="#['{&quot;name&quot;:&quot;bbbb&quot;}']" doc:name="Mongo DB"/>

    </flow>
    <apikit:mapping-exception-strategy name="apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
